html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

/* annimation */
.fadeinleft {
  opacity: 0;
  transform: translateX(100px);
  transition: all 1s ease-out;
}

.fadeinright {
  opacity: 0;
  transform: translateX(-100px);
  transition: all 1s ease-out;
}

.fadeindown {
  opacity: 0;
  transform: translateY(-100px);
  transition: all 1.2s ease-out;
}

.fadeinup {
  opacity: 0;
  transform: translateY(100px);
  transition: all 1.2s ease-out;
}

.fade-in {
  opacity: 0;
  transition: all 1.3s ease-in;
}

.active-left,
.active,
.active-right,
.active-down,
.active-up {
  opacity: 1;
  transform: translateX(0);
  transform: translateY(0);
}

.fadein {
  opacity: 0;
}

@mixin white-gradient {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}
/*  Animation */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}
.slider {
  background: white;
  height: 300px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
  &::before,
  &::after {
    @include white-gradient;
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
  }
  &::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }
  &::before {
    left: 0;
    top: 0;
  }
  .slide-track {
    animation: scroll linear infinite;
    animation-duration: 35s;
    display: flex;
    width: calc(250px * 14);
  }
}
.slide {
  margin-right: 15px !important;
}

/* footer */
:root {
  /* Background Color */
  --primary-color: #212122b9;
  --secondary-color: #a3a190;
  --bg-color: #f4f4f4;
  --bg-white: #fff;
  --bg-black: #000;
  /* Text Style */
  --primary-font: "Poppins", sans-serif;
  --secondary-font: "Oswald", sans-serif;
  --tertiary-font: "Cinzel", serif;
  --primary-text: #212122b9;
  --secondary-text: #cea356;
  --text-white: #fff;
  --text-black: rgb(79, 79, 79);
  --text-gray: #e4e4e4;
}

.footer_wrapper {
  background-color: #1d1f25;
}
.footer_wrapper h5 {
  color: white;
  margin-bottom: 1.25rem;
}
.footer_wrapper ul li {
  margin-bottom: 0.5rem;
  list-style: none;
}
.footer_wrapper .contact-info li a {
  color: white;
}
.footer_wrapper .link-widget li a,
.footer_wrapper p {
  color: white;
  font-size: 14px;
  padding-left: 1.5rem;
  position: relative;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  text-decoration: none;
}
.footer_wrapper .link-widget li a::before {
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  left: 0.3rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.footer_wrapper .link-widget li a:hover {
  margin-left: 0.625rem;
  color: #a57d52;
}
.footer_wrapper .social-network a {
  width: 2.1rem;
  height: 2.1rem;
  margin: 0.6rem;
  line-height: 2rem;
  font-size: 0.875rem;
  display: inline-block;
  border: 0.125rem solid var(--text-gray);
  color: var(--text-gray);
  text-align: center;
  border-radius: 100%;
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.footer_wrapper .social-network a:hover {
  background-color: var(--secondary-text);
  border-color: var(--secondary-text);
  color: var(--text-white);
  box-shadow: 0 0.625rem 0.9375rem 0 rgb(0 0 0 / 10%);
  transform: translateY(-0.1875rem);
}
.footer_wrapper .form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: var(--secondary-color);
}
.footer_wrapper .copyright-section {
  background-color: #dddddd;
  padding: 1.25rem 0 0.3125rem;
  text-align: center;
}
.footer_wrapper .copyright-section a {
  color: var(--secondary-text);
}

.navbar {
  -webkit-box-shadow: 0 0.5rem 0.375rem -0.375rem rgb(0 0 0 / 40%);
  box-shadow: 0 0.5rem 0.375rem -0.375rem rgb(0 0 0 / 40%);
  -webkit-transition: background 0s ease-in-out 0s, margin-top 0s ease-in-out 0s,
    opacity 0s ease-in-out 0s;
  transition: background 0s ease-in-out 0s, margin-top 0s ease-in-out 0s,
    opacity 0s ease-in-out 0s;
  overflow-x: hidden;
  background-color: #ffffff;
  /* background-image: linear-gradient(45deg, black 30%, blue 70%); */
}
.navbar-nav a {
  margin-left: 10px;
  font-size: 22px;
  /* color: rgb(117, 113, 113); */
}
.nav-link img {
  width: 25px;
  height: 15px;
}
.navbar-nav a {
  text-decoration: none;
  padding: 10px;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 700;
  color: rgb(61, 59, 59);
  border-bottom: 1px solid transparent;
  position: relative;
}
.navbar-nav a:hover {
  color: #101996;
  /* border-bottom: 1px solid #000000; */
}
.navbar-nav a.active {
  /* border-bottom: 1px solid #000000; */
  color: #0874bd !important;
}
.navbar-nav a::before {
  content: "";
  width: 0;
  height: 2px;
  border-radius: 2px;
  background-color: #101996;
  position: absolute;
  bottom: -0.25rem;
  left: 50%;
  transition: width 0.4s, left 0.4s;
}
.navbar-nav a:hover::before {
  width: 100%;
  left: 0;
}

/*BUTTONS CLASS*/
#button,
#button::after {
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

#button {
  background: #101996;
  border: 2px solid #101996 !important;
  border-radius: 5px;
  color: white !important;
  font-size: 15px;
  font-weight: bold;
  padding: 13px 25px;
  position: relative;
  text-transform: uppercase;
  transition: all 0.6s ease-in-out;
  font-family: "Outfit", sans-serif;
  border-radius: 5px;
  box-shadow: 0 10px 5px 0 rgba(0, 0, 0, 0.2);
}

#button::before,
#button::after {
  background: white !important;
  content: "";
  position: absolute;
  z-index: -1;
}

#button:hover {
  color: #122533 !important;
  transform: scale(1);
  border: 2px solid #122533 !important;
}

.btn-3 {
  overflow: hidden;
}

.btn-3::after {
  height: 100%;
  left: -35%;
  top: 0;
  transform: skew(50deg);
  width: 0;
}

.btn-3:hover:after {
  height: 100%;
  width: 100%;
}

.btn-3::before {
  height: 100%;
  right: -35%;
  bottom: 0;
  transform: skew(50deg);
  transition: all 0.6s ease-in-out;

  width: 0;
}

.btn-3:hover:before {
  height: 100%;
  width: 100%;
}

/* font family */
.rale {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.marc {
  font-family: "Marcellus", serif;
  font-weight: 400;
  font-style: normal;
}



/* index-bg */
#index-bg {
    background: url(img/img-1.jpg) rgba(0, 0, 0, 0.40);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    height: 70vh;
    display: flex;
    align-items: center;
    text-align: center;
}

.bg-text h2 {
    text-align: center;
    color: #ffffff;
    font-size: 70px;
    line-height: 70px;
    font-weight: 700;
    text-align: x;
}

.bg-text p {
    font-size: 18px;
    color: #ffffff;
    line-height: 32.4px;
    margin: 10px 0px 0px;
    font-weight: 400;
}

/* about */
.about-dsc p {
    font-size: 15px;
    color: #222222;
    line-height: 21.6px;
    letter-spacing: 3px;
    padding: 12px 0px;
    font-weight: 600;
}

.about-dsc h2 {
    font-size: 42px;
    line-height: 50.4px;
    font-weight: 700;
}



/* rooms */
.rooms-dsc {
    background: #222222;
    padding:140px 30px;
    height: 500px;
    border: 3px solid white; 
}

.borders {
  padding: 10px;
  background-color: #222222;
}

.rooms-dsc h3 {
    font-size: 26px;
    color: #ffffff;
    line-height: 26px;
    font-weight: 700;
}

.rooms-details {
    display: flex;
    justify-content: space-between;
}

.rooms-details p{
    text-align: start;
    font-size: 15px;
    color: #ffffff;
    line-height: 4.5px;
    padding: 15px 0px;
    font-weight: 700;
}

.rooms-ds h2 {
    font-size: 42px;
    line-height: 50.4px;
    font-weight: 700;
}

.rooms-ds p {
    font-size: 15px;
    color: #222222;
    line-height: 27px;
    padding: 15px 0px;
    font-weight: 400;
}

/* gallery */
#gallery {
    background: url(img/img-5.jpg) rgba(0, 0, 0, 0.40);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: multiply;
    height: 60vh;
    display: flex;
    align-items: center;
    text-align: center;
}

.gallery-ds h2 {
    font-size: 42px;
    line-height: 50.4px;
    font-weight: 700;
    color: #ffffff;
}

.gallery-ds p {
    font-size: 15px;
    color: #ffffff;
    line-height: 27px;
    padding: 15px 0px;
    font-weight: 400;
}

/* facilities */
.facilities-ds h2 {
    font-size: 42px;
    line-height: 50.4px;
    font-weight: 700;
    margin-bottom: 40px;
}


.faci-icon {
    text-align: center;
    background-color: #222222c7;
    padding: 20px;
    border: 3px solid white;
}

.faci-icon h2 {
    font-size: 30px;
    line-height: 50.4px;
    font-weight: 700;
    color: #ffffff;
    margin-top: 20px;
}

/* about-html */
#about-bg {
  background: url(img/img-5.jpg) rgba(0, 0, 0, 0.40);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  display: flex;
  align-items: center;
  text-align: center;
  height: 70vh;
}

/* rooms-html */
#rooms-bg {
  background: url(img/rooms-bg.jpg) rgba(0, 0, 0, 0.40);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  display: flex;
  align-items: center;
  text-align: center;
  height: 70vh;
}

/* gallery-html */
#gallery-bg {
  background: url(img/img-1.jpg) rgba(0, 0, 0, 0.40);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  display: flex;
  align-items: center;
  text-align: center;
  height: 70vh;
}

.gallery-ds-ds h2 {
  font-size: 42px;
  line-height: 50.4px;
  font-weight: 700;
  color: #1d1f25;
}

.gallery-ds-ds p {
  font-size: 15px;
  color: #1d1f25;
  line-height: 27px;
  padding: 15px 0px;
  font-weight: 400;
}

/* contact-html */
#contact-bg {
  background: url(img/pylli-sodes.jpg) rgba(0, 0, 0, 0.40);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  display: flex;
  align-items: center;
  text-align: center;
  height: 70vh;
}

.form-contact {
  margin: 60px 0;
}

.form-contact h5 {
  font-size: 25px;
  line-height: 27px;
  color: #222222;
  font-weight: 600;
}

.form-contact p {
  font-size: 15px;
  line-height: 27px;
  color: #222222;
  font-weight: 400;
}

@media (max-width:900px) {
  .about-dsc p {
    font-size: 15px;
    color: #222222;
    line-height: 21.6px;
    letter-spacing: 1px;
    padding: 12px 0px;
    font-weight: 400;
}

.about-dsc h2 {
    font-size: 32px;
    line-height: 50.4px;
    font-weight: 700;
}

/* rooms */
.rooms-dsc {
  background: #222222;
  padding:30px;
  height: 400px;
}

.m-900 img{
  height: 420px !important;
}

.rooms-dsc h3 {
  font-size: 26px;
  color: #ffffff;
  line-height: 26px;
  font-weight: 700;
}

#button {
  background: #101996;
  border: 2px solid #101996 !important;
  border-radius: 5px;
  color: white !important;
  font-size: 12px;
  font-weight: bold;
  padding: 10px 20px;
  position: relative;
  text-transform: uppercase;
  transition: all 0.6s ease-in-out;
  font-family: "Outfit", sans-serif;
  border-radius: 5px;
  box-shadow: 0 10px 5px 0 rgba(0, 0, 0, 0.2);
}

.faci-icon h2 {
  font-size: 25px;
  line-height: 50.4px;
  font-weight: 700;
  color: #ffffff;
  margin-top: 20px;
}

.rooms-details p {
  font-size: 12px;
}

}

@media (max-width:800px) {
  .bg-text h2 {
    font-size: 50px;
  }

  .about-dsc p {
    font-size: 13px;
    color: #222222;
    line-height: 21.6px;
    letter-spacing: 1px;
    padding: 12px 0px;
    font-weight: 400;
}

.about-dsc h2 {
    font-size: 27px;
    line-height: 50.4px;
    font-weight: 700;
}

.gallery-ds h2 {
  font-size: 30px;
}

.gallery-ds p {
  font-size: 13px;
}

.rooms-ds h2 {
  font-size: 30px;
}

.facilities-ds h2 {
  font-size: 30px;
}

.faci-icon h2 {
  font-size: 22px;
}

.gallery-ds-ds h2 {
  font-size: 30px;
}
}

@media (max-width:767px) {
  .about-img {
    margin-top: 50px;
  }

.rooms-dsc {
  height: 300px;
}

.rooms-dsc h3 {
  font-size: 18px;
}

.rooms-dsc p {
  font-size: 15px;
}
.m-900  img{
  height: 320px !important;
}

#button {
  background: #101996;
  border: 2px solid #101996 !important;
  border-radius: 5px;
  color: white !important;
  font-size: 10px;
  font-weight: bold;
  padding: 10px 20px;
  position: relative;
  text-transform: uppercase;
  transition: all 0.6s ease-in-out;
  font-family: "Outfit", sans-serif;
  border-radius: 5px;
  box-shadow: 0 10px 5px 0 rgba(0, 0, 0, 0.2);
}
}